<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daftar User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div>
            <h2>User Registration - Sign up</h2>
        </div>
        <a th:href = "@{/list_users}" class="btn btn-primary btn-sm mb-3"> Home </a>
        <form th:action="@{/process_register}" method="post"
              style="max-width: 600px; margin: 0 auto;"
              th:object="${user}">
            <div class="m-3">
                <div class="form-group row">
                    <label class="col-form-label col-4" for="">Email</label>
                    <div class="col-8">
                        <input type="email" class="form-control" th:field="*{email}" required/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-4" for="">Password</label>
                    <div class="col-8">
                        <input type="password" class="form-control" th:field="*{password}" required
                        minlength="6" maxlength="10"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-4" for="">First Name</label>
                    <div class="col-8">
                        <input type="text" class="form-control" th:field="*{firstName}" required/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-4" for="">Last Name</label>
                    <div class="col-8">
                        <input type="text" class="form-control" th:field="*{lastName}" required/>
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>